<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">
<!-- Règles minimales du LOT 0 ; à enrichir avec l'équipe (guide §13.3). -->
<module name="Checker">
  <property name="charset" value="UTF-8"/>
  <module name="FileTabCharacter"/>
  <module name="NewlineAtEndOfFile"/>
  <module name="LineLength">
    <property name="max" value="140"/>
  </module>
  <module name="TreeWalker">
    <module name="AvoidStarImport"/>
    <module name="UnusedImports"/>
    <module name="RedundantImport"/>
    <module name="NeedBraces"/>
    <module name="EmptyBlock"/>
    <module name="EqualsHashCode"/>
    <module name="MissingSwitchDefault"/>
    <module name="IllegalType">
      <!-- R-06 : jamais de montant en double/float. -->
      <property name="illegalClassNames" value="double, float, java.lang.Double, java.lang.Float"/>
      <property name="tokens" value="VARIABLE_DEF, PARAMETER_DEF, METHOD_DEF"/>
    </module>
  </module>
</module>
